<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Histórico</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar clearInput animated placeholder="Digite o nome do Paciente..." [(ngModel)] = "queryText" (ionInput)="filterPatients($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button (click)="Switch()"><ion-icon name="filter-circle"></ion-icon>{{filtro}}</ion-button>
 <ion-grid *ngFor="let patient of Paciente ; let i = index">
    <ion-row>
      <ion-col>
        <ion-item lines="none" button (click)="presentActionSheet(patient.nome, patient.id, patient.score, patient.flag)" class="item-first">
            {{patient.nome}} 
        </ion-item>
      </ion-col>
      <ion-col class="second" *ngIf="patient.score == -1; else elseBlock">
          <ion-item class="item-second" lines="none">
            <p class="score-text">N/A</p>
          </ion-item>
      </ion-col>
      <ng-template #elseBlock>
        <ion-col class="second">
            <ion-item class="item-second" lines="none" style="--background:{{patient.color}}">
                <p class="score-text">{{patient.score}}<ion-icon class="alerticon" name= "{{patient.icon}}"></ion-icon></p>
            </ion-item>
        </ion-col>  
      </ng-template>
    </ion-row>
  </ion-grid>
</ion-content>